hr {
    display: block;
    width: 100%;
    height: 2px!important;
    background-color: #922610!important;
    color: #922610;
    fill: #922610;
}

h1 {
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    margin: 10px 0 0;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: bold;
    border-color: #922610!important;
    border-bottom: 2px solid #922610!important;
}

h2 {
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    border-color: #922610!important;
    border-bottom: 2px solid #922610!important;
}

h5,h6,p {
    margin: 0;
}

a{
    color:#922610;
}